<!-- templates/markets/apply_to_market_event.html -->
{% extends 'base.html' %}
{% load custom_filters %}


{% block content %}
<div class="container mt-5">
    <div class="section-heading heading-style-10">
        <h2 class="title">Apply to {{ market_event.title }}</h2>
        <p>{{ market_event.description }}</p>
    </div>
    <div class="row g-3">
     
        <div class="col-lg-12">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              {% for event_date in event_dates %}
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter|number_to_words }}" aria-expanded="false"
                    aria-controls="#flush-collapse{{ forloop.counter|number_to_words }}">
                    Date: {{ event_date.date }} - Price: £{{ event_date.price }}
                    </button>
                  </h2>
                  <div id="flush-collapse{{ forloop.counter|number_to_words }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="market_event_id" value="{{ market_event.id }}">
                      <input type="hidden" name="event_date_id" value="{{ event_date.id }}">
          
                      <!-- Display form non-field errors -->
                      {% if form.non_field_errors %}
                      <div class="alert alert-danger">
                          {{ form.non_field_errors }}
                      </div>
                      {% endif %}
          
                      <!-- Vendor Name -->
                      <div class="form-group mb-3 mt-3">
                          <label class="form-label" for="vendor_name">Vendor Name:</label>
                          <input class="form-control" type="text" id="vendor_name" name="vendor_name"
                              value="{{ form.vendor_name.value|default_if_none:'' }}">
                          {% if form.vendor_name.errors %}
                          <div class="alert alert-danger">
                              {{ form.vendor_name.errors }}
                          </div>
                          {% endif %}
                      </div>
          
                      <!-- Company Name -->
                      <div class="form-group mb-3 mt-3">
                          <label class="form-label" for="company_name">Company Name:</label>
                          <input class="form-control" type="text" id="company_name" name="company_name"
                              value="{{ form.company_name.value|default_if_none:'' }}">
                          {% if form.company_name.errors %}
                          <div class="alert alert-danger">
                              {{ form.company_name.errors }}
                          </div>
                          {% endif %}
                      </div>
          
                      <!-- Products -->
                      <div class="form-group mb-3 mt-3">
                          <label class="form-label" for="products">Products:</label>
                          <textarea class="form-control" id="products" name="products">{{ form.products.value|default_if_none:'' }}</textarea>
                          {% if form.products.errors %}
                          <div class="alert alert-danger">
                              {{ form.products.errors }}
                          </div>
                          {% endif %}
                      </div>
          
                      <!-- Social Media Links -->
                      <div class="form-group mb-3 mt-3">
                          <label class="form-label" for="social_media_links">Social Media Links:</label>
                          <input class="form-control" type="url" id="social_media_links" name="social_media_links"
                              value="{{ form.social_media_links.value|default_if_none:'' }}">
                          {% if form.social_media_links.errors %}
                          <div class="alert alert-danger">
                              {{ form.social_media_links.errors }}
                          </div>
                          {% endif %}
                      </div>
          
                      <!-- Website Link -->
                      <div class="form-group mb-3 mt-3">
                          <label class="form-label" for="website_link">Website Link:</label>
                          <input class="form-control" type="url" id="website_link" name="website_link"
                              value="{{ form.website_link.value|default_if_none:'' }}">
                          {% if form.website_link.errors %}
                          <div class="alert alert-danger">
                              {{ form.website_link.errors }}
                          </div>
                          {% endif %}
                      </div>
          
                      <!-- Email -->
                      <div class="form-group mb-3 mt-3">
                          <label class="form-label" for="email">Email:</label>
                          <input class="form-control" type="email" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}">
                          {% if form.email.errors %}
                          <div class="alert alert-danger">
                              {{ form.email.errors }}
                          </div>
                          {% endif %}
                      </div>
          
                      <!-- Contact Number -->
                      <div class="form-group mb-3 mt-3">
                          <label class="form-label" for="contact_number">Contact Number:</label>
                          <input class="form-control" type="text" id="contact_number" name="contact_number"
                              value="{{ form.contact_number.value|default_if_none:'' }}">
                          {% if form.contact_number.errors %}
                          <div class="alert alert-danger">
                              {{ form.contact_number.errors }}
                          </div>
                          {% endif %}
                      </div>
          
                      <button type="submit" class="btn btn-primary mb-3 mt-3">Submit Application</button>
                  </form>
                  </div>
                </div>
                {% endfor %}
            
              </div>
        </div>
    </div>
</div>
{% endblock %}
