<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Do Handmade</title>
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

</head>

<body class="d-flex flex-column h-100">

    {% include 'markets/includes/main_header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'markets/includes/main_footer.html' %}

    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'javascript/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'javascript/slick.min.js' %}"></script>
    <script src="{% static 'javascript/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'javascript/js.cookie.js' %}"></script>
    <script src="{% static 'javascript/jquery.style.switcher.js' %}"></script>
    <script src="{% static 'javascript/jquery.mb.YTPlayer.min.js' %}"></script>
    <script src="{% static 'javascript/theia-sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'javascript/resize-sensor.min.js' %}"></script>

</body>

</html>